{% extends "base.html" %}
{% from "generics/form.html" import render_form, errors, field_inner, form_group, field_label %}

{% block title %}PoE - Check Quality{% endblock %}

{% block content %}
    {% call render_form(form) %}
        {% call form_group(form.values) %}
            {{ field_label(form.values) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button id="clear" class="btn btn-default" type="button">Clear</button>
                </span>
                {{ field_inner(form.values) }}
                <span class="input-group-addon" id="total">=0</span>
            </div>
            {{ errors(form.values) }}
        {% endcall %}
    {% endcall %}

    {% if result %}
        <h3>The best combination has a total of <strong><i>{{ result[0] }}</i></strong></h3>
        <pre>[{{ result[1]|join(", ") }}]</pre>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        var values = $("#values");
        var total = $("#total");

        $("#clear").click(function () {
            values.val("");
        });

        values.keyup(function () {
            var match = values.val().match(/-?\d+/g);
            if (match == null) {
                match = [0]
            }
            total.text("=" + eval(match.join("+")))
        })
    </script>
{% endblock %}